<block-ui>
    <div class="row row-12">
        <div class="col col-12">
            <mat-accordion>
                <mat-expansion-panel style="overflow: inherit !important;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>Buscar</b>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col col-6">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input (keyup)="searchParameters.FirstName = searchParameters.FirstName.toUpperCase()"
                                    name="firstNameSearch" pattern="[a-z A-Z Ññ /())]{0,100}" #firstNameSearch="ngModel"
                                    [(ngModel)]="searchParameters.FirstName" class="form-control form-control-sm"
                                    type="text" placeholder="Nombre" autocomplete="off">
                                <label [ngClass]="'missingInfo form-text text-muted helperText'"
                                    *ngIf="!firstNameSearch.valid && !(searchParameters.FirstName == '')"
                                    id="namelHelp">
                                    Este campo solo acepta letras
                                </label>
                            </div>
                        </div>

                        <div class="col col col-6" align="left" style="margin-top: 1.5%;">
                            <button mat-raised-button (click)="deleteFilter()">
                                Todos
                            </button>
                            <button mat-raised-button color="primary" (click)="applyFilter()" style="margin-left: 1em;">
                                Buscar
                            </button>

                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>
    <hr>
    <div class="row row-12" align="right">
        <div class="col col-12">
            <button mat-mini-fab color="primary" (click)="openUserForm = true; modeUserForm = 'Nuevo Usuario'">
                <mat-icon>person_add</mat-icon>
            </button>
        </div>
    </div>
    <hr>
    <div class="row row-12 top-buffer">
        <div class="col col-12">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.first_name}} </td>
                </ng-container>

                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                    <td mat-cell *matCellDef="let element"> {{ element.last_name }} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                </ng-container>

                <ng-container matColumnDef="avatar">
                    <th mat-header-cell *matHeaderCellDef> Avatar </th>
                    <td mat-cell *matCellDef="let element"> <img src="{{element.avatar}}"> </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Opciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="editUser(element)" class="btn btn-outline-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Editar
                        </button>
                        <br>
                        <br>
                        <button (click)="deleteUser(element.id)" class="btn btn-outline-secondary">
                            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Borrar
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
    <div class="row row-12 top-buffer">
        <div class="col col-12">
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
    </div>


    <app-user-form [openModal]="openUserForm" [mode]="modeUserForm" (userCreated)="userCreated()"
        (userUpdated)="userUpdated()" (closedUserForm)="closedUserForm()" [currentUser]="CurrentUser"></app-user-form>

</block-ui>