<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="'users'" style="color: black;">Usuarios</a>
    <a mat-tab-link [routerLink]="'pokemons'"  style="color: black;">Pokemons</a>
  </nav>

  <!-- <mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group> -->