<p-dialog header="{{mode}}" appendTo="body" autoZIndex="true" [(visible)]="showUserForm" [modal]="true" [closable]="false" [draggable]="false" [contentStyle]="{ 'min-height': '250px', 'min-width': '350px'}">
    <div class="container-fluid" style="height: 250px; max-height: 280px; width: 350px; min-width: 350px;">
        <form #data="ngForm" novalidate="">
            <div class="row">
                <div class="col col-12">
                    <label for="txtName">Nombre</label>
                    <input autocomplete="off" name="txtName" #txtName="ngModel" [(ngModel)]="user.first_name" type="text" class="form-control form-control-sm" placeholder="Nombre" maxlength="80" pattern="[a-z A-ZñÑ]{1,80}" required>
                    <label [ngClass]="'missingInfo form-text text-muted helperText'" *ngIf="!txtName.valid && !(user.first_name == '')" id="nameHelp">
                        Este campo solo acepta letras
                    </label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col col-12">
                    <label for="txtLastName">Apellidos</label>
                    <input autocomplete="off" name="txtLastName" #txtLastName="ngModel" [(ngModel)]="user.last_name" type="text" class="form-control form-control-sm" placeholder="Apellidos" maxlength="80"  pattern="[a-z A-ZñÑ]{1,80}" required>
                    <label [ngClass]="'missingInfo form-text text-muted helperText'" *ngIf="!txtLastName.valid && !(user.last_name == '')" id="lastNamelHelp">
                        Este campo solo acepta letras
                    </label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col col-12">
                    <label for="txtMail">Correo</label>
                    <input autocomplete="off" name="txtMail" #txtMail="ngModel" [(ngModel)]="user.email" type="text" class="form-control form-control-sm" placeholder="Correo" maxlength="80"  pattern="\w[\w\.\-_]+@([\w]+\.\w+)(\.\w+)*" required>
                    <label [ngClass]="'missingInfo form-text text-muted helperText'" *ngIf="!txtMail.valid && !(user.email == '')" id="mailHelp">
                        Correo no válido
                    </label>
                </div>
            </div>
        </form>
    </div>
    <p-footer style="display: inline-flex;">
        <button type="button" style="display:flex;" (click)="close()" class="btn btn-secondary"><mat-icon>clear</mat-icon>&nbsp;Cancelar</button>
        <button type="button" style="display:flex;" (click)="clean()" class="btn"><mat-icon>delete_sweep</mat-icon>&nbsp;Limpiar</button>
        <button type="submit" style="display:flex; background-color: green; color: white;" (click)="save()" [disabled]="!data.valid" class="btn"><mat-icon>save</mat-icon>&nbsp;Guardar</button>
    </p-footer>
</p-dialog>