<block-ui>

    <div class="row row-12 top-buffer">
        <div class="col col-12">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef> Ver Detalles </th>
                    <td mat-cell *matCellDef="let element">
                        <button (click)="showAbilities(element.url)" class="btn btn-outline-primary">
                            Habilidades
                        </button>&nbsp;
                        <button (click)="showMoves(element.url)" class="btn btn-outline-secondary">
                            Movimientos
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
    <div class="row row-12 top-buffer">
        <div class="col col-12">
            <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
        </div>
    </div>


    <app-pokemon-details [mode]="mode" [openModal]="openModal" (closed)="closedDetails()" [details]="CurrentPokemonDetails"></app-pokemon-details>

</block-ui>