<p-dialog header="{{modeModal}}" appendTo="body" autoZIndex="true" [(visible)]="showModal" [modal]="true"
    [closable]="false" [draggable]="false" [contentStyle]="{ 'min-height': '250px', 'min-width': '350px'}">
    <div class="container-fluid" style="height: 250px; max-height: 280px; width: 350px; min-width: 350px;">
        
        <mat-list>
            <mat-list-item *ngFor="let detail of currentDetails">
                <p matLine>
                    <span> {{detail}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>
    <p-footer style="display: inline-flex;">
        <button type="button" style="display:flex;" (click)="close()" class="btn btn-secondary">
            <mat-icon>clear</mat-icon>&nbsp;Cerrar
        </button>
    </p-footer>
</p-dialog>