/* You can add global styles to this file, and also import other style files */

/* Bootstrap */

@import '~bootstrap/dist/css/bootstrap.min.css';


/* Angular Material*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Toastr */

@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}


body .ui-widget-overlay {
    opacity: unset;
    background-color: rgba(0, 0, 0, .5);
}

.helperText{
    color: red !important;
    font-size: smaller;
}